{% extends "template.html" %}
{% block content %}

<div class="dashboard-page mt-2 col-md-10 offset-md-1">
    <h1>The Accomplish Board</h2>
    <a href="/logout" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Logout</a>

    <hr>
    <div class="add-project mt-2">
        <h3>Create a new task</h3>
        <form action="{{ url_for('new_task') }}" method="POST" class="new-task">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="task_name">Describe the Task:</label>
                    <input type="text" name="task_name" class="form-control">
                    <small class="text-muted">Keep your task name short and concise. </small>
                </div>
                <div class="form-group col-md-2">
                    <label for="priority">Priority</label>
                    <select name="priority" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                        <label for="scope">Scope</label>
                        <select name="scope" class="form-control">
                            <option value="work">Work</option>
                            <option value="personal">Personal</option>
                        </select>
                </div>
            </div>
            
            <div class="form-inline align-items-center">
                <div class="form-group">
                    <label for="due_date">Due Date:</label>
                    <input type="date" name="due_date" min="2018-08-17" max="2020-12-31" class="form-control mx-sm-4">
                    
                </div>
                
                <div class="form-group col-md-4">
                    <input type="submit" class="btn btn-dark" value="Add a Task">
                </div>
                
            </div>

            
        </form>


    </div>
</div>

    <hr>
    <!--List Open Tasks-->
    <div class="list-taks col-md-10 offset-md-1">
        <h3>Open Tasks</h3>
        <div class="card-deck">
            {% for task in open_projects %} 
      
                {% if task.scope == 'personal' %}
                    <div class="card border-info mt-2" style="min-width: 14rem; max-width: 14rem">
                {% else %}
                    <div class="card border-warning mt-2" style="min-width: 14rem; max-width: 14rem">
                {% endif %}
                    <img class="card-img-top" src="https://via.placeholder.com/223x140" alt="Card image cap">
                    <div class="card-body text-dark">
                        <h5 class="card-title"><span class="badge badge-secondary"> {{task.task_priority}} </span> {{task.scope}}</h5>
                        <p class="card-text">{{task.task_name}}</p>    
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <small>Due on: {{task.due_date}}</small>
                        <div class="btn-group btn-group-sm mt-2" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-outline-secondary">Delete</button>
                                    <button type="button" class="btn btn-success">Mark as Done</button>
                        </div>
                    </div>
                </div><!--End .card-->
                   
            {% endfor %}
            
        </div><!--End .card-deck-->

    </div>

    <div class="list-taks col-md-10 offset-md-1 mt-4">
        <h3>Done</h3>
        <div class="card-deck mb-4">
            {% for task in closed_projects %}
                <div class="col-sm-3">
                    <div class="card text-white bg-dark" style="min-width: 14rem; max-width: 14rem">
                        <div class="card-body">
                            <h5 class="card-title"><span class="badge badge-secondary"> {{task.task_priority}} </span> {{task.scope}}</h5>
                            <p class="card-text">{{task.task_name}} <hr> {{task.due_date}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    
    </div>


</div>



{% endblock %}


