{% extends "template.html" %}
{% block content %}

<div class="dashboard-page mt-2 col-md-10 offset-md-1">
    <h1 class="text-light"><i class="material-icons">dashboard</i>The Accomplish Board</h1>

    <div class="add-project jumbotron">
        <h3>Create a Task</h3>
        <form action="{{ url_for('new_task') }}" method="POST" class="new-task">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="task_name">Describe the Task:</label>
                    <input type="text" name="task_name" class="form-control">
                    <small class="text-muted">Keep your task name short and concise. </small>
                </div>
                <div class="form-group col-md-2">
                    <label for="priority">Priority</label>
                    <select name="priority" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                        <label for="scope">Scope</label>
                        <select name="scope" class="form-control">
                            <option value="work">Work</option>
                            <option value="personal">Personal</option>
                        </select>
                </div>
            </div>
            
            <div class="form-inline align-items-center">
                <div class="form-group">
                    <label for="due_date">Due Date:</label>
                    <input type="date" name="due_date" min="2018-08-17" max="2020-12-31" class="form-control mx-sm-4">
                    
                </div>
                
                <div class="form-group col-md-4">
                    <input type="submit" class="btn btn-dark" value="Add a Task">
                </div>
                
            </div>

            
        </form>


    </div>
</div>

    
    <!--List Open Tasks-->
    <div class="list-taks col-md-10 offset-md-1">
        <h3 class="text-light">Open Tasks</h3>
        <div class="card-deck">
            {% for task in open_projects %} 
      
                {% if task.scope == 'personal' %}
                    <div class="card card-personal border-dark mt-2" style="min-width: 13rem; max-width: 16rem">
                    <img class="card-img-top img-personal" src="{{url_for('static', filename='img/')}}{{task.task_id}}.png" alt="Task Background Image">
                {% else %}
                    <div class="card card-work border-dark mt-2" style="min-width: 13rem; max-width: 18rem">
                            <img class="card-img-top img-work" src="{{url_for('static', filename='img/')}}{{task.task_id}}.png" alt="Task Background Image">
                {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><span class="badge badge-light"> {{task.task_priority}} </span> {{task.scope}}</h5>
                        <p class="card-text">{{task.task_name}}</p>    
                    </div>
                    <div class="card-footer bg-transparent">
                        <small>Due on: {{task.due_date}}</small>
                        <div class="btn-group btn-group-sm mt-2" role="group" aria-label="Basic example">
                                <a class="btn btn-warning" href=" {{ url_for('delete_task', task_id = task.task_id) }} ">
                                    <i class="material-icons">delete</i> Delete</a>
                                <a class="btn btn-dark" href=" {{ url_for('complete_task', task_id = task.task_id) }} ">
                                        <i class="material-icons">done</i> Mark as Done</a>
                                
                        </div>
                    </div>
                </div><!--End .card-->
                   
            {% endfor %}
            
        </div><!--End .card-deck-->

    </div>

    <div class="list-taks col-md-10 offset-md-1 mt-4">
        <h3 class="text-light">Done</h3>
        <div class="card-columns mb-4">
            {% for task in closed_projects %}
                    {% if task.scope == 'personal' %}
                    <div class="card text-white bg-secondary">
                    {% else %}
                    <div class="card text-white bg-dark">
                    {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><span class="badge badge-light"> {{task.task_priority}} </span> {{task.scope}}</h5>
                            <p class="card-text">{{task.task_name}}</p>
                        </div>
                    </div>               
            {% endfor %}
            
        </div>
    
    </div>


</div>



{% endblock %}


