{% extends "template.html" %}
{% block content %}
    <div class="jumbotron">
        <h2 class="display-4">Welcome to Accomplish!</h2>
        <hr class="my-4">
        <p class="lead"><p>Proin ornare ligula eu tellus tempus elementum. Aenean bibendum iaculis mi, nec blandit lacus interdum vitae. Vestibulum non nibh risus, a scelerisque purus. Ut vel arcu ac tortor adipiscing hendrerit vel sed massa. Fusce sem libero, lacinia vulputate interdum non, porttitor non quam. Aliquam sed felis ligula. Duis non nulla magna.  </p></p>

        <p class="lead"><a class="btn btn-primary btn-lg" href="/welcome">Welcome Page</a></p>
    </div>

{% endblock %}


