{% extends "template.html" %}
{% block content %}
    
    <div class="col-md-5 col-lg-5 mt-5 offset-md-2">
        <h1 class="text-light">Login to Accomplish</h1>
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-info" role="alert"> {{ message }} </div>
        {% endfor %}  
        {% if error %}
            <div class="flash alert alert-warning" role="alert"> 
                <strong>Error: </strong> {{ error }}
            </div>
        {% endif %}
        
    </div>

    <div class="col-md-5 col-lg-5 offset-md-2">
        <form action="" method="POST">
            <div class="form-group">
                <label for="username" class="text-light">Username:</label>
                <input type="text" class="form-control" name="username" placeholder="Your Username">
            </div>
            <div class="form-group">
                <label for="Password" class="text-light">Password:</label>
                <input type="password" class="form-control" name="password">
                <small id="passwordHelpBlock" class="form-text text-light">
                    Your password must be 5-20 characters long, and must not contain spaces, special characters, or emoji.
                </small>
            </div>

            <p class="text-light">For a Demo Account, enter "admin" in both the username and password fields</p>
            <button type="submit" class="btn btn-info" value="Login">Log in</button>
            
        </form>

    </div>


{% endblock %}

