<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Accomplish App</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/accomplish.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <header>        
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
                <i class="material-icons md-light">dashboard</i><a href="/" class="navbar-brand">Accomplish</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                        </ul>
                        <ul class="navbar-nav ml-auto">       
                                {% if 'logged_in' in session %}
                                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>   
                                {% else %}
                                    <li class="nav-item"><a class="nav-link" href="/log">Login</a></li>
                                {% endif %}
                        </ul>            
                </div>
        </nav>
    </header>
    <div class="container-fluid mt-2">
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-info" role="alert"> {{ message }} </div>
        {% endfor %} 
        {% block content %}
    
        {% endblock %} 
        
    </div> 
</body>
</html>